<div class="container">
  <div class="d-flex justify-content-between mt-4">
    <div>
      <input class="form-control" type="text" placeholder="Buscar por Título" [(ngModel)]="bookFilter">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="openModalForm(form, undefined)">Adicionar Livro</button>
    </div>
  </div>

  <div class="mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Quantidade de Páginas</th>
          <th>Ano de Publicação</th>
          <th>Versão</th>
          <th>Autores</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksFiltrados">
          <td>{{ book.title }}</td>
          <td>{{ book.caption }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.version }}</td>
          <td>{{ book.authors }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="openModalInfo(info, book.id)">
              <i class="bi bi-info-square"></i></button>
            <button type="button" class="btn btn-warning btn-sm mr-2" (click)="openModalForm(form, book.id)">
              <i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
              <i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal Form Adicionar ou Editar Livro -->
<ng-template #form>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <div *ngIf="!idAtual">Adicionar Livro</div>
      <div *ngIf="idAtual">Editar Livro</div>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" ngNativeValidate>
    <!-- Form Create -->
    <div class="modal-body" *ngIf="!bookInfo">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input class="form-control" type="text" name="title" placeholder="Digite o Título" ngModel required>
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Subtítulo</label>
        <input class="form-control" type="text" name="caption" placeholder="Digite o Subtítulo" ngModel required>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="pages" class="form-label">Nº de Páginas</label>
          <input class="form-control" type="number" name="pages" placeholder="Nº de Páginas" ngModel required>
        </div>
        <div class="col mb-3">
          <label for="year" class="form-label">Ano</label>
          <input class="form-control" type="number" name="year" placeholder="Ano" ngModel required>
        </div>
        <div class="col mb-3">
          <label for="version" class="form-label">Versão</label>
          <input class="form-control" type="text" name="version" placeholder="Versão" ngModel required>
        </div>
      </div>
      <div class="mb-3">
        <label for="authors" class="form-label">Autores</label>
        <input class="form-control" type="text" name="authors" placeholder="Nomes dos Autores" ngModel required>
      </div>
    </div>
    <!-- End Form Create -->
    <!-- Form Update -->
    <div class="modal-body" *ngIf="bookInfo">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input class="form-control" type="text" name="title" placeholder="Digite o Título"
          [(ngModel)]="bookInfo.title" required>
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">SubTítulo</label>
        <input class="form-control" type="text" name="caption" placeholder="Digite o SubTítulo"
          [(ngModel)]="bookInfo.caption" required>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="pages" class="form-label">Nº de Páginas</label>
          <input class="form-control" type="number" name="pages" placeholder="Nº de Páginas"
            [(ngModel)]="bookInfo.pages" required>
        </div>
        <div class="col mb-3">
          <label for="year" class="form-label">Ano</label>
          <input class="form-control" type="number" name="year" placeholder="Ano"
            [(ngModel)]="bookInfo.year" required>
        </div>
        <div class="col mb-3">
          <label for="version" class="form-label">Versão</label>
          <input class="form-control" type="text" name="version" placeholder="Versão"
            [(ngModel)]="bookInfo.version" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="authors" class="form-label">Autores</label>
        <input class="form-control" type="text" name="authors" placeholder="Nomes dos Autores"
          [(ngModel)]="bookInfo.authors" required>
      </div>
    </div>
    <!-- End Form Update -->
    <div class="modal-footer">
      <div class="container d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- End -->

<!-- Modal Informações -->
<ng-template #info>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Informações do Livro
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Título: </strong><i *ngIf="bookInfo">{{ bookInfo.title }}</i><br>
    <strong>Subtítulo: </strong><i *ngIf="bookInfo">{{ bookInfo.caption }}</i><br>
    <strong>Quantidade de Páginas: </strong><i *ngIf="bookInfo">{{ bookInfo.pages }}</i><br>
    <strong>Ano de Publicação: </strong><i *ngIf="bookInfo">{{ bookInfo.year }}</i><br>
    <strong>Versão: </strong><i *ngIf="bookInfo">{{ bookInfo.version }}</i><br>
    <strong>Autores: </strong><i *ngIf="bookInfo">{{ bookInfo.authors }}</i>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Fechar</button>
  </div>
</ng-template>
<!-- End -->
